/* Fresno State Events */
.fs-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(19, 40, 76, 0.6);
  height: 90%;
  color: white;
  gap: 1vw;
  width: 45%;
  border-radius: 1vh;
  overflow: hidden;
}

.fs-events-container,
.fresno-events-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin: 0 0.8vw;
}
.event-info {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  background-color: #00000066;
  padding: 0.75vw;
  border-radius: 0.75vw;
}
.event-title,
.fresno-title {
  font-size: 1.5vw;
  font-weight: 600;
}
.event-date-time {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}
.event-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}
.event-cat {
  background-color: #ffffffbf;
  color: #000;
  padding: 0.25vw 0.5vw;
  border-radius: 0.25vw;
  font-size: 1vw;
  font-weight: 600;
}
